<div class="content">
<div class="pic">
  <div class="name"><span>ISQL</span>GLOBAL</div>
  <div class="caption">KNOWLEDGE MEETS BUSINESS</div>
  <div class="contact">
   <h4 > For Enquiries please call </h4>
  <div class="phone">
    <img src="../../assets/images/landline.png"> 044 - 34343434  </div>
  <div class="phone"> 
      <img src="../../assets/images/mobile.png">
    +91-7034034034 </div>
  </div>
  <div class="oracle">
    <img src="../../assets/images/oracle.PNG">
  </div>
</div>
<div class="course-slider">
    <app-slideunit *ngFor="let n of courses"
     [name]="n.short" [url]="n.logo"></app-slideunit>
</div>
</div>
