
<nav class="navbar navbar-inverse">
  
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    <div class="navbar-header">
    
    </div>

   <div class="collapse navbar-collapse" id="myNavbar">
     
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="/" > Home</a></li>
      <li><a routerLink="/Courses"> Courses</a></li>
       <li><a routerLink="/Corporate"> Corporate Training</a></li>
      <li><a  routerLink="/Career"> Careers</a></li>
       <li><a routerLink="/Placements"> Placements</a></li>
      <li><a routerLink="/Certification"> Certifications</a></li>
    </ul>
    </div>
  
</nav>

